table.keymap {
  border: none;
  text-align: center;
  font-size: 1.0em;

  thead {
    border: none;

    tr > th {
      width: 33%;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid $light-gray;

      td {
        border-bottom: none;

        code {
          font-size: 1.0em;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

table.swarlipi td:last-child {
  font-family: 'ome_swarlipi';
  font-size: 2.0em;
}

table.meend-hindi td:last-child {
  font-family: 'omenad_meend_hindi';
  font-size: 1.5em;
}

table.meend-english td:last-child {
  font-family: 'omenad_meend_english';
  font-size: 1.5em;
}
