table.keymap {
  border: none;
  text-align: center;
  font-size: 1.0em;

  thead {
    border: none;

    tr > th {
      width: 33%;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid $light-gray;

      td {
        border-bottom: none;

        code {
          font-size: 1.0em;
          display: inline-block;
          padding: 0.2rem 0.2rem;
          vertical-align: middle;
          background-color: $code-background-color;
          border-radius: $border-radius;
          border: solid 1px $light-gray;
          border-bottom-color: $gray;
          box-shadow: inset 0 -1px 0 $gray;

          &+code {
              margin-left: 0.3rem;
          }
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  &.swarlipi td:last-child {
    font-family: 'ome_swarlipi';
    font-size: 2.0em;
    line-height: 2em;
  }

  &.bhatkhande-hindi td:last-child {
    font-family: 'ome_bhatkhande_hindi';
    font-size: 1.5em;
    line-height: 3em;
  }

  &.bhatkhande-english td:last-child {
    font-family: 'ome_bhatkhande_english';
    font-size: 1.5em;
    line-height: 3em;
  }
}

table.composition {
  border: none;

  td {
    width: 25%;
    border: none;
    border-right: 1px solid $dark-gray;
  }

  td:last-child {
    border-right: none;
  }

  td > code {
    background: none;
    border: none;
    box-shadow: none;

    font-size: 1.0rem;
    line-height: 3.0rem;

    white-space: pre;
  }

  &.bhatkhande-hindi td > code {
    font-family: 'ome_bhatkhande_hindi';
  }

  &.bhatkhande-english td > code {
    font-family: 'ome_bhatkhande_english';
  }
}
